# Manejar automáticamente los finales de línea para archivos detectados como texto* text=auto# Declarar explícitamente archivos de texto que siempre quieres normalizar y convertir# a finales de línea nativos al hacer checkout.*.md text*.json text*.css text*.tsx text*.ts text*.html text# Declarar archivos que siempre tendrán finales de línea CRLF al hacer checkout.*.sln text eol=crlf# Declarar archivos que siempre tendrán finales de línea LF al hacer checkout.*.sh text eol=lf